<div class="main-head-container">
   <div class="left">
      <div class="logo">
         <p>CTax</p>
      </div>
   </div>

   <div class="middle">
      <a [ngClass]="{active: pageType === 'dash'}" (click)="pageType = 'dash'">{{ 'DASHBOARD' | translate }}</a>
      <a [routerLink]="['/tax-collection-data']" routerLinkActive="router-link-active"
         [ngClass]="{active: pageType === 'stand'}" (click)="pageType = 'stand'">Tax Collection Data</a>
      <a [routerLink]="['/operations-manager-listing']" routerLinkActive="router-link-active"
         [ngClass]="{active: pageType === 'opmanager'}" (click)="pageType = 'opmanager'">Operations Managers</a>
   </div>
   <!-- <div>
   <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
      <option value="en">English</option>
      <option value="fr">French</option>
    </select>
</div> -->

   <div class="language">
      <button class="language_switch" mat-icon-button [matMenuTriggerFor]="language_menu"
         aria-label="Example icon-button with a menu">
         @if (language == 'English') {
         <label>English</label>
         } @if (language != 'English') {
         <label>French</label>
         }
         <i class="fa fa-angle-down fa-2xl fa-lg lang-arrow"></i>
      </button>

      <mat-menu #language_menu="matMenu" class="language_menu" id="language_menu">
         <button class="each-lang d-flex justify-content-between" mat-menu-item>
            <div class="d-flex align-items-center">
               <p>English</p>
            </div>
            <!-- @if (language == 'English') {
            <img class="check-icon" src="assets/images/header/check.png" />
            } -->
         </button>
         <button class="each-lang d-flex justify-content-between" mat-menu-item>
            <div class="d-flex align-items-center">
               <p>French</p>
            </div>
            <!-- @if (language != 'English') {
            <img class="check-icon" src="assets/images/header/check.png" />
            } -->
         </button>
      </mat-menu>
   </div>

   <div class="right">
      <app-button [buttonLabel]="'SIGNOUT' | translate " (buttonclicked)="buttonClicked($event)"></app-button>
   </div>
</div>