<div class="main-head-container">
   <div class="left">
      <div class="logo">
         <p>CTax</p>
      </div>
   </div>

   <div class="middle">
      <a [ngClass]="{active: pageType === 'dash'}" (click)="pageType = 'dash'">Dashboard</a>
      <a [routerLink]="['/tax-collection-data']" routerLinkActive="router-link-active"  [ngClass]="{active: pageType === 'stand'}" (click)="pageType = 'stand'">Tax Collection Data</a>
      <a [routerLink]="['/operations-manager-listing']" routerLinkActive="router-link-active"  [ngClass]="{active: pageType === 'opmanager'}" (click)="pageType = 'opmanager'">Operations Managers</a>
   </div>

   <div class="right">
      <app-button [buttonLabel]="'Sign Out'" (buttonclicked)="buttonClicked($event)"></app-button>
   </div>
</div>
