.not-found-container {
  height: 50vh;

  /*flag theme*/
  /* background: #ffca3a9a; *

/* green theme */
  background: #00aa9941;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Roboto;

  .number,
  .message {
    margin: 0;
  }

  .number {
    font-size: 150px;
    font-weight: 600;

    /*flag theme */
    /* color: #1982c4; */

    /* green theme */
    color: #00aa997c;
  }

  .message {
    font-size: 25px;
    font-weight: 700;
    margin-top: 60px;

    /*flag theme */
    /* color: #ff595e; */

    /* green theme */
    color: #00aa98;
  }

  .button-div {
    margin-top: 15px;
  }
}
