<div class="main-footer-container">
   <div class="logo-section">
      <p>CTax</p>
   </div>
   <div class="based-on-roles">
      <div class="each-role">
         <p class="head">Root Admin</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
      </div>

      <div class="each-role">
         <p class="head">Admin</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
      </div>

      <div class="each-role">
         <p class="head">Operation Manager</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
      </div>

      <div class="each-role">
         <p class="head">Zone Manager</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
         <p class="sub-link">Sub item 1</p>
      </div>
   </div>
</div>