.main-footer-container {
  * {
    padding: 0;
    margin: 0;
    font-family: Roboto;
  }

  $main-green: #00aa98;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
  background: rgb(0, 170, 152, 0.5);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;

  .just-center {
    display: flex;
    align-items: center;
  }

  .full-center {
    @extend .just-center;
    justify-content: center;
  }

  .logo-section {
    p {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
    }
  }

  .based-on-roles {
    @extend .just-center;
    color: #fff;

    .each-role {
      margin-inline-end: 30px;

      p {
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          text-decoration: underline;
        }
      }

      .head {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 600;
      }

      .sub-link {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 7px;
        margin-inline-start: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}
