.main-footer-container {
  * {
    padding: 0;
    margin: 0;
    font-family: Roboto;
  }

  $main-green: #00aa98;
  min-height: 10vw;
  background: rgb(0, 170, 152, 0.5);
  margin: 10px;
  border-radius: 8px;

  .just-center {
    display: flex;
    align-items: center;
  }

  .full-center {
    @extend .just-center;
    justify-content: center;
  }

  .logo-section {
    p {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
    }
  }

  .based-on-roles {
  }
}
