<div class="full-root-container">
   <app-ribbon [name]="name" [location]="location" [cardData]="cardDetails"></app-ribbon>
   <mat-tab-group>
      <mat-tab label="Admins List">
         <div class="search-and-table-container">
            <div class="search-and-buttons">
               <search></search>
               <app-button [buttonLabel]="'Create Admin'" (buttonclicked)="createAdmin($event)"></app-button>
               <app-button [buttonLabel]="'Create State'" (buttonclicked)="createState($event)"></app-button>
            </div>
            <div class="table-container">
               <mat-table [dataSource]="tableData">

                  <!-- Position Column -->
                  <ng-container matColumnDef="#">
                     <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                     <mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                     <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>

                  <!-- State Column -->
                  <ng-container matColumnDef="state">
                     <mat-header-cell *matHeaderCellDef> STATE </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
                  </ng-container>

                  <!-- Username Column -->
                  <ng-container matColumnDef="username">
                     <mat-header-cell *matHeaderCellDef> USERNAME </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                  </ng-container>

                  <!-- Password Column -->
                  <ng-container matColumnDef="password">
                     <mat-header-cell *matHeaderCellDef> PASSWORD </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
                  </ng-container>

                  <!-- Email Column -->
                  <ng-container matColumnDef="email">
                     <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                  </ng-container>

                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <button mat-button class="primary">ACCEPT</button>
                        <button mat-button class="warn">REJECT</button>
                     </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               </mat-table>
            </div>
            <mat-paginator #adminsListPaginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
            </mat-paginator>
         </div>
      </mat-tab>

      <mat-tab label="Tax List">
         <div class="search-and-table-container">
            <div class="search-and-buttons">
               <search></search>
               <app-button [buttonLabel]="'Create Tax'" (buttonclicked)="createTax($event)"></app-button>
            </div>
            <div class="table-container">
               <mat-table [dataSource]="tableData">

                  <!-- Position Column -->
                  <ng-container matColumnDef="#">
                     <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                     <mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                     <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>

                  <!-- Admin Name Column -->
                  <ng-container matColumnDef="amount">
                     <mat-header-cell *matHeaderCellDef> AMOUNT </mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
                  </ng-container>

                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <button mat-button class="primary">ACCEPT</button>
                        <button mat-button class="warn">REJECT</button>
                     </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedTaxColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedTaxColumns;"></mat-row>

               </mat-table>

            </div>
            <mat-paginator #taxListPaginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
            </mat-paginator>
         </div>
      </mat-tab>
   </mat-tab-group>
</div>