.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: -webkit-fill-available;
  height: -moz-available; /* For Firefox */
  height: fill-available; /* Generic */
  justify-content: center;
  align-items: center;
  padding: 50px;
  @media(max-width:768px){
    grid-template-columns: 1fr;
    height: 100%;
    height: max-content !important;
    gap: 20px;
    .left-panel {
      padding: 0;
      justify-content: center;
      display: flex;
      img{
        width: 30vh !important;
      }
    }
    .right-panel{
      .form-card {
        padding: 20px;
        border-radius: 30px !important;
      }
    }

  }
  .left-panel {
    padding: 5%;
    img {
      height: auto;
      width: 30vw;
    }
  }
  .right-panel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-card {
      background: linear-gradient(to right, #00aa6d 0%, #00aa98 100%);
      height: 100%;
      width: 100%;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: "Roboto", sans-serif;
      .form-card-title-and-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        .title {
          font-size: 50px;
          font-weight: bold;
          color: white;
          margin-bottom: 5px;
          @media (min-width: 1900px) {
            font-size: 70px !important; // Smaller font size for screens less than or equal to 768px
          }

          @media (max-width: 768px) {
            font-size: 40px !important; // Smaller font size for screens less than or equal to 768px
          }

          @media (max-width: 480px) {
            font-size: 30px !important; // Even smaller font size for screens less than or equal to 480px
          }
        }
        .description{
          font-size: 14px;
          font-weight: 400;
          color: white;
          @media (min-width: 1900px) {
            font-size: 18px !important; // Smaller font size for screens less than or equal to 768px
          }
          @media (max-width: 768px) {
            font-size: 12px !important; // Smaller font size for screens less than or equal to 768px
          }

          @media (max-width: 480px) {
            font-size: 10px!important; // Even smaller font size for screens less than or equal to 480px
          }
        }
      }
      form.login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        .input-field-container{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 66px;
          @media (max-width: 768px){
            height: 55px;
          }
          mat-error {
            width: 69%;
            margin-top: 5px;
            font-size: 13px;
            color: white;
        }
          .input-field {
            height: 90%;

            width: 75%;
            border-radius: 1000px;
            background-color: white;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0px 10px;

            input {
              width: 75%;
              height: 58%;
              border: none;
          }

          /* Targeting the placeholder */
          input::placeholder {
              color: #0000006c; /* Custom color */
              font-size: 18px; /* Custom font size */
              font-weight: 400; /* Custom font weight */
              opacity: 1; /* Ensure the color is fully applied */
              @media (max-width: 768px){
                font-size: 14px !important;
              }
          }

          /* For webkit browsers like Chrome, Safari */
          input::-webkit-input-placeholder {
            color: #0000006c; /* Custom color */
            font-size: 18px; /* Custom font size */
            font-weight: 400; /* Custom font weight */
            opacity: 1; /* Ensure the color is fully applied */
            @media (max-width: 768px){
              font-size: 14px !important;
            }
          }

          /* For Mozilla Firefox */
          input::-moz-placeholder {
            color: #0000006c; /* Custom color */
            font-size: 18px; /* Custom font size */
            font-weight: 400; /* Custom font weight */
            opacity: 1; /* Ensure the color is fully applied */
            @media (max-width: 768px){
              font-size: 14px !important;
            }
          }

          /* For Microsoft Edge */
          input::-ms-input-placeholder {
            color: #0000006c; /* Custom color */
            font-size: 18px; /* Custom font size */
            font-weight: 400; /* Custom font weight */
            opacity: 1; /* Ensure the color is fully applied */
            @media (max-width: 768px){
              font-size: 14px !important;
            }
          }


        }
        }

      button {
        border: 1px solid white;
        border-radius: 25px;
        height: 50px;
        width: 115px;
        background: transparent;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    }
    }
  }
}
