// /* You can add global styles to this file, and also import other style files */
// // $color_1: green;

// // @import "../node_modules/ngx-toastr/toastr.css";
// // h1 {
// // 	color: $color_1;
// // }

html, body {
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  @media (max-width: 768px) {
    font-size: 12px !important; // Smaller font size for screens less than or equal to 768px
  }

  @media (max-width: 480px) {
    font-size: 10px!important; // Even smaller font size for screens less than or equal to 480px
  }
 }
