@import url("../../../../common/styles/common-styles.scss");

.create-admin-container {
  * {
    padding: 0;
    margin: 0;
    font-family: Roboto;
  }

  $main-green: #00aa98;

  .just-center {
    display: flex;
    align-items: center;
  }

  .full-center {
    @extend .just-center;
    justify-content: center;
  }

  height: fit-content;
  //   background: #fff;
  margin: 20px;
  .head {
    .back-button-container {
      display: flex;
      font-weight: bold;
      font-size: 18px;
      color: #202020;
      gap: 10px;
      align-items: center;
      height: 100%;
      svg.back-button {
        g,
        path {
          transition: all 0.15s;
        }
        &:hover {
          cursor: pointer;
          g,
          path {
            stroke: #68728a;
          }
        }
      }
    }
  }

  .forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
  }
}
